@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Lato:wght@700&display=swap');/*fontes*/
/*Cores*/
:root{
    --verde-escuro: rgba(30,56,51,255);
    --verde-claro: rgba(0,117,74,255);
    --marrom: #8B5A2B;
}
/*geral*/
body{
    background-color: white;
    font-family: 'Cabin Condensed', sans-serif;
    border: 8px var(--marrom) solid;
}
/*Banner*/
#banner{
    text-align: center; 
    margin: 0px;
    background-color: var(--verde-claro);
}
#logo-img{
    width: 700px;
}
/*produtos-todos*/
.destaque{
    text-align: center;
    border: 2px black solid;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 60px;
    color: var(--verde-escuro);
}
#produtos{
    border: 4px var(--verde-claro) solid;
    margin: 0px;

}
.imagens{
    width: 300px;
}


/*tags-texto*/
ul.ul-none{
    list-style: none;
    display: block;
    background-color: var(--verde-escuro);
    padding: 30px 200px;
    margin: 0px;
}
li.produto{
    text-align: center;
    background-color: white;
    border-radius: 30px;
    margin: 10px auto;
}
#titulo-produtos{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: var(--verde-escuro);
    font-size: 50px;
    background-color: white;
    display: block;
    border-radius: 10px;
}
/*Avaliações*/
#avaliacoes{
    border: 4px var(--verde-claro) solid;
    margin: 0px;
    background-color: var(--verde-escuro);
}    
p.comentarios{
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
    border:6px var(--marrom) solid;
    font-size: 60px;
    border-radius: 15px;
    padding: 5px;
    margin: 0px;
    display: block;
}
.pessoas{
    list-style: none;
    display: block;
    margin: 0px 20px;
    padding: 0px;
}
#joe{
    margin: 10px 0px 0px 0px;
    padding: 30px;
}
#rachel{
    margin: -100px 0px 0px -80px;
}
/*Formulario*/
.formulario{
    display: inline-block;
    text-decoration: none;
    background-color: var(--verde-escuro);
    color: white;
    padding: 7px;
    font-size: 40px;
    font-family: 'Cabin Condensed', sans-serif;
    border-radius: 10px;
    margin: 0px 0px 40px 0px;
}
.formulario:hover{
    transition-timing-function: 2.2s;
    color: white;
    background-color: var(--verde-claro);
}
/*footer*/
footer{
    margin: -20px 0px;
    background-color: var(--verde-escuro);
    color: white;
}
.logos{
    width: 200px;
    margin: 43px 100px 10px ;
}
#de-rocha{
    width: 180px;
    display: inline-block;
    margin: 0px 150px 10px 170px;
}
.botao-historia{
    display: inline-block;
    text-decoration: none;
    background-color: var(--verde-escuro);
    color: white;
    padding: 7px;
    font-size: 40px;
    font-family: 'Cabin Condensed', sans-serif;
    border-radius: 10px;
}
.botao-historia:hover{
    transition-timing-function: 2.2s;
    color: white;
    background-color: var(--verde-claro);
}
.texto-footer{
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
    font-size: 60px;
    display: inline;
    margin: 30px 20px;
    background-color: var(--verde-claro);
    padding: 10px;
    border-radius: 10px;
}
#texto-footer-historia{
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
    font-size: 40px;
}