body{
    background-color: rgb(154, 102, 56);
}

/*Classes*/

.banner{
    background-color: black;
    border: 2px white solid;
    color: white;
    text-align: center;
    border-radius: 50%;
}