body{
    background-color: rgb(154, 102, 56);
}

/*Classes*/

.banner{
    background-color: rgb(248, 220, 255);
    text-align: center;
    height: 200px;
    width: 100%;
}

.produtos{
    background-color: white;
    border: 2px black solid;
}